body{
font-family:Arial;
margin:0;
background:#1b0b2e;
color:white;
}

header{
background:#2c1246;
padding:15px;
text-align:center;
}

.game-list{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
gap:20px;

padding:20px;

}

.game-card{

background:#2d1448;
padding:15px;
border-radius:12px;
text-align:center;

}

.game-card img{
width:80px;
}

.btn{

display:inline-block;
margin-top:10px;

background:#7c3aed;
padding:8px 16px;

color:white;
text-decoration:none;

border-radius:8px;

}

.container{

max-width:400px;
margin:auto;

padding:20px;

}

input{

width:100%;
padding:10px;

margin:8px 0;

border-radius:8px;
border:none;

}

.packages label{

display:block;

background:#2d1448;

padding:10px;
margin:6px 0;

border-radius:8px;

cursor:pointer;

}

.packages label:hover{
background:#3c1c5e;
}

button{

width:100%;

padding:12px;
margin-top:15px;

background:#25D366;

border:none;
border-radius:10px;

font-size:16px;
color:white;

cursor:pointer;

}